.footerflex{
    min-height: 95vh;
    display: flex;
    flex-direction: column;
}

.section{
    margin: 30px;
}
nav{
    margin-top: 30px;
    justify-content: right;
    text-align: right;
    font-weight: bold;
    display: inline;
    color: #224a43;
    background-color: white;

}

h2{
    font-family: "Habibi", serif;
}
.title{
    justify-content: left;
    text-align: left;
    align-items: left;
    position: absolute;
    top: 10px;
    left: 30px;
    align-self: left;
    text-decoration: none;
    font-family: "Habibi", serif;
    font-size: 30px;
    color: black;
    border: 0;
    margin: 0;
    padding: 0; 
} 

body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    color:black;
}
h2{
    text-align: center;
}
body {
    font-family: "Montserrat", sans-serif;
}


header {
    position: sticky;
    top: 0;
    background-color: #7FB5B5;
    z-index: 1000;
}
#homehead {
    position: relative;
    top: 0;
    background-color: white;
    z-index: 1000;
}

html {
    scroll-behavior: smooth;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
}

#contact{
    margin: 30px;
    display: flex;
    justify-content: center; /* Horizontal centering */
    height: 100vh; /* Full viewport height to center vertically */
}
header {
    background-color: #7FB5B5;
    opacity: .9;
    color: white;
    padding: 20px;
    box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    max-height: 50px; 
}

nav ul {
    list-style: none;
}

nav #title{
    text-align: left;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

.hero {
    background-size: cover;
    color: white;
    text-align: center;
    padding: 100px 10px;
}

.hero h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}

#homehead{
    background-color: white;
    box-shadow: none;
}

#main-p {
    font-size: 1.7vw;
    line-height: 2.4vw;
    margin-bottom: 30px;
}

.hero .btn {
    background-color: #ff5722;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition:  .8s;
}

.hero .btn:hover {
    background-color: #ff7043;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 0 auto;
}

form{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    gap: 10px;
    justify-content: center;
}

.form{
    border-radius: 3px;
    padding: 4px;
    border: 1px solid #224a43;
    font-size: 10px;
}
.btn{
    background-color: #224a43;
    margin: 10px;
    border-radius: 7px;
    padding: 10px;
    width: 15%;
    text-align: center;
    border: 0;
    cursor: pointer;
    transition: .4s;
    color: white;
}

#button{
    justify-content: center;
    align-items: center;
    color: white;
}

.btn:hover{
    background-color:#1d7766;
    letter-spacing: .05em;
}

#contactimg{
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 0;
    border: 0;
    opacity: .7;
}


#story{
    font-family: monospace;
    line-height: 2vw;
    margin-top: 2%;
    margin-left: 30px;
    font-size: 1vw;
}

#storyline{
    display: inline-flex;
    margin: 5vw;
}

#storyh{
    padding-top: 3vw;
    padding-left: 6vw;
    padding-right: 17vw;
    border-radius: 6px;
    background-color: #224a43;
    font-size: 1.6vw;
    margin-right: 10px;
    color: white;
}

#teamh{
    margin-top: 30px;
    padding: 3px;
}

#questions{
    font-size: 12px;
    font-family: "Habibi", serif;
    text-align: center;
}

.aboutimg{
    display: inline-flex;
}


#krishiv{
    opacity: .7;
}

.aimg{
    border-radius: 6px;
    width: 23vw;
    margin: 10px;
    height: auto;
    justify-content: center;
    opacity: .75;
    margin: 4vw;
}

.teams {
    display: inline-flex;
    flex-direction: column;
    font-family: "Habibi", serif;
    text-align: center;
    font-size: 1.2vw; 
    padding: 8.5vw;
    padding-top: .5vh;
    padding-bottom: .5vh;
}

#sendmessage {
    font-size: 1vw;
    margin: 0 auto;
}

#shaanteam{
    padding-left: 9vw;
    padding-right: 10vw;
}

#shaan{
    margin: 5vw;
}

#aboutfillimg{
    display: block;
    width: 75%;
    margin: 10px auto;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 0;
    border: 0;
    opacity: .7;
    margin-top: 30px;
}

#teamp{
    opacity: .5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 2vw;
    font-size: 1.2vw;
    text-align: left;
    width: 45vw;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 40px;
}

#goalp{
    margin-top: 20px;
}

#main-header {
    display: inline-block;
    font-family: "Habibi", serif;
    font-size: 4vw;
    color: white;
    padding: 70px;
    top: 1000px;
}

#maincover{
    display: inline-flex;
    background-color: #224a43;
    border-radius: 5px;
    bottom: 50px;
    padding: 100px;
    padding-left: 60px;
}

#main-p{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.7vw;
    line-height: 2.3vw;
    padding-bottom: 10px;
    padding-right: 0;
    margin: 20px;
    position: relative;
    bottom: 10px;
    padding-left: 30px;
    width: 75%;
}

#donatebtn{
    background-color: #295f56;
    text-align: center;
    font-size: 1vw;
    margin: 0 auto;
}

#inline{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#donatebtn:hover{
    letter-spacing: 0.001em;
    background-color: #377067;
}

#goal {
    position: relative;
    overflow: hidden;
}

#goal::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://static.wixstatic.com/media/877939_5bd52018d03045da90e35335004a0b71~mv2.jpeg/v1/fill/w_499,h_281,al_c,lg_1,q_80,enc_auto/istockphoto-1223169848-170667a.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
    opacity: 0.3;
    z-index: 1;
}

#goalh, #goalp {
    position: relative;
    z-index: 2;
    opacity: 1;
}

#goalp {
    text-align: center;
    line-height: 3.3vw;
    font-size: 1.7vw;
    font-family: 'Courier New', Courier, monospace;
    width: 75%;
    margin: 0 auto;
    display: block;
}

#goalh {
    text-align: center;
    font-size: 4vw;
    margin-top: 50px;
    margin-bottom: 60px;
}

.hihimg{
    width: 4vw;
    border-radius: 50%;
    margin: 0 auto;
}

#titlem{
    text-align: center;
    font-family: "Caveat", cursive;
    margin: 30px;
    margin-bottom: 20px;
    font-size: 6vw;
}

#hrmain{
    margin-bottom: 50px;
    width: 45%;
    height: 1.5px;
    background-color: black;
}

#hih{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    border-radius: 5px;
    padding: 30px;
    width: 75%;
    margin: 0 auto;
}

#hihhr{
    width: 45%;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: black;
}

h4{
    font-family: 'Times New Roman', Times, serif;
}
.inlinehih{
    display: block; 
    margin: 0 auto;
    margin-top: 20px;
    padding: 30px;
    padding-top: 50px;
    padding-bottom: 40px;
    border-radius: 7px;
}

.hihdown{
    display: inline-flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
    width: 20%;
    border-right: black;
    border-bottom: black;
}

#homenav{
    text-align: center;
    background-color: white;
}

.hihp{
    line-height: 20px;
}

#hihmp{
    width: 45%;
    margin: 0 auto;
}

#contact{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
}

#MapofDistribution {
    width: 90%;
    height: auto;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    margin: 0 auto;
    display: block;
}
.est{
    text-align: center;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 40px;
    padding-bottom: 20px;
}

#estinline{
    display: flex;
    margin: 0 auto;
    width: 90%;
    bottom: 2vh;
}

#one {
    background-color: #3e8570;
    border-bottom-left-radius: 7px;
}

#two {
    background-color: #a8d5c8;
}

#three {
    background-color: #2f6052;
    border-bottom-right-radius: 7px;
}

#behind {
    margin: 0 auto;
    width: 80vw;
    border-radius: 7px;
}

#hihcontent{
    background-color: #a8d5c8;
    margin-top: 50px;
    padding-top: 30px;
}

.est3{
    font-size: 1.8vw;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
}

.est5{
    font-size: 1.5vw;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
}

#onet, #twot, #threet {
    position: relative;
    height: 80vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    transition: height 1s;
    margin-top: 20vh;
    margin-bottom: 20vh;
    background-color: rgba(0, 0, 0, .765);
    flex-direction: column;
}

#onet{
    margin-top: 0;
}

#threet{
    margin-bottom: 5vh;
}

#onet::before, #twot::before, #threet::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    z-index: 1;
    transition: opacity 0.3s, background-color 0.3s;
}

#onet::before {
    background-image: url('https://www.afro.who.int/sites/default/files/2023-05/Guinea_Hawkey_ebola_20150630_2153.jpg');
}

#twot::before {
    background-image: url('https://static.wixstatic.com/media/877939_a20fed869e3b4df9b3986a2a8ff3615a~mv2.jpeg/v1/fill/w_1142,h_760,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/877939_a20fed869e3b4df9b3986a2a8ff3615a~mv2.jpeg');
}

#threet::before {
    background-image: url('https://static.wixstatic.com/media/877939_0664bf4ccde44d8eba3afea11f4d0e68~mv2.jpeg/v1/fill/w_1014,h_675,al_c,q_85,enc_auto/877939_0664bf4ccde44d8eba3afea11f4d0e68~mv2.jpeg');
}

#onet > *, #twot > *, #threet > * {
    position: relative;
    z-index: 2;
}

#onet{
    margin-top: 10vh;
}

.container-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;
    margin-bottom: 30px;
}

#giheader {
    font-size: 4vw;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 0;
    margin-top: 20px;
}

.gi3 {
    font-size: 5vw;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    color: white;
}

#donategi1, #donategi2, #donategi3 {
    width: auto;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    background-color: #295f56;
    color: #000;
    cursor: pointer;
    font-size: 1vw;
    border-radius: 0;
    font-weight: bold;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    padding: 13px;
    text-decoration: none;
}

#donategi1:hover, #donategi2:hover, #donategi3:hover{
    box-shadow: 0 12px 18px 0 rgba(0,0,0,0.24), 0 17px 60px 0 rgba(0, 0, 0, 0.141);
    font-size: 1em;
}
#recenth{
    font-family: "Montserrat", sans-serif;
    font-size: 3vw;
    font-weight: 400;
    margin-top: 30px;
}

.recentp{
    text-align: center;
    margin: 3vh;
}

#recentpm{
    font-size: 1vw;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
}

#recentps{
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5vw;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 3.25vh;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    padding: 30px;
    clear: both;
}

.container {
    margin: 0 auto;
}

.containr{
    max-width: 1600px;
    margin: 0 auto;
    background-color: whitesmoke;
    padding: 20px;
    margin-bottom: 30px;
}

.learnmore {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#learnmorebtn{
    width: 6vw;
    text-decoration: none;
    color: black;
}

#recenta{
    position: relative;
    left: 15vw;
    margin: 1vw;
}

#author{
    text-decoration: none;
    color: black;
}

#img1 {
    max-width: 1000px;
    width: 100%;
    display: block;
    margin: 0 auto;
}

#img2 {
    float: right;
    margin: 1vw;
    height: 15vw;
}

#img3 {
    float: left;
    margin: 1vw;
    height: 15vw;
}

#img4 {
    float: right;
    margin: 1vw;
    width: 23vw;
    height: auto;
}

.recentpic{
    border-radius: 7px;
}

#involvedcon{
    width: 60vw;
    margin:  0 auto;
}

#involvedimg {
    width: 75vw;
    height: 35vh;
    display: block;
    margin: 30px auto; 
    border-radius: 7px;
    object-fit: cover; 
}

#volunteer{
    text-align: center;
    font-size: 2vw;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
}

.donateh{
    text-align: left;
    font-family: sans-serif;
    font-size: 30px;
}

.learnp{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: .95;
    line-height: 20px;
    margin-top: 3vh;
    margin-bottom: 6vh;
}

#learn{
    position: relative;
    left: 8vw;
    max-width: 75vw;
}

.n {
    position: relative;
    text-decoration: none;
    padding-bottom: 2px;
}

.n::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px; 
    background-color: black; 
    transition: width 0.3s ease; 
}

.n:hover::before {
    width: 100%; 
}

footer {
    background: linear-gradient(to right, #2e8b57, #3b5998);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-family: 'Montserrat', serif;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    margin: 10px 20px;
}

.footer-section h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
    font-weight: 700;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-section.contact-info a {
    color: #fff;
    text-decoration: none;
}

.footer-section.contact-info a:hover {
    text-decoration: underline;
}

.footer-section.subscribe p {
    font-size: 1em;
    margin-bottom: 10px;
    font-weight: 400;
}

.footer-section.subscribe form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-section.subscribe input[type="email"] {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.footer-section.subscribe button {
    padding: 10px 20px;
    border: 2px solid #3b5998;
    border-radius: 5px;
    background-color: #3b5998;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.8s, border-color 0.8s, color 0.8s;
}

.footer-section.subscribe button:hover {
    background-color: #fff;
    border-color: #3b5998;
    color: #3b5998;
}

.footer-section.copyright {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-weight: 400;
}

@media (max-width: 1000px) {
    .teams {
        display: none;
    }

    nav {
        font-size: 1.5vw;
    }

    .title {
        font-size: 3.3vw;
    }

    .aimg {
        margin-left: 30px;
        margin-right: 10px;
        width: 24vw;
    }
    
    #aboutimg {
        margin-left: 30vw;
        display: flex;
        justify-content: center;
    }

    .hihdown{
        width: 60vw;
    }

    #goal{
        margin-bottom: 30px;
    }
}

@media (max-width: 700px){
    .hihp{
        line-height: 2.7vw;
        font-size: 2.1vw; 
    }
    .donatebtn{
        padding: 1px;
    }

    #hero {
        width: 30vw;
        text-align: center;
        padding: 0;
        margin: 0;
    }
    html{
        overflow-x: hidden;
    }
}
